<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Rate Yourself</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" type="text/css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:5000/">Rate Yourself</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/levels">Our Levels</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/api">Our API</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="http://127.0.0.1:5000/profile" method="get">
            <div class="form-group">
              <input type="text" name='email' placeholder="Email" class="form-control" id='email'>
            </div>
            <div class="form-group">
              <input type="text" name='stackid' placeholder="Stackoverflow ID" class="form-control" id='stackid'>
            </div>
            <button type="submit" class="btn btn-success">Start Rating</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Our API!</h1>
        <p>Here are some information about how to use our API.</p>
      </div>
    </div>

    <div class="container">
      <hr>
      <div class="row">
        <div class="col">
          <h2>Authentication</h2>
          <p>Rate Yourself API doesn't use any authentication and is free to use for those who wish. Note though that we make use of the API provided from GitHub and it only allow 60 requests per hour so we have that limitation.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h2>Errors</h2>
          <p> Rate Yourself API make use of the standard HTTP Status Codes. The following errors can be shown:</p>
          <p>400 if email or stackid parametres are missing in GET request.<br>
          If either github email or stackoverflow id are invalid no data from that account will be returned.</p>
       </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h2>Endpoints</h2>
          <p>All requests are sent to: {{address}}<br></p>
          <p>Make HTTP GET request to: <br>
          /api/v1/profile?email=value&stackid=value<br></p>
          <p>Email is the registered email on github.com and stackid is the account id on stackoverflow.com which can be found in the url when logged in.<br></p>
          <p>The response will be a JSON and you will get the following information:<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email: the registered email on github.com.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gbio: the users github biography.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gcreated: date for creation of github account.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gfollowers: number of followers on github.com.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gpublic_repos: number of public repositories on github.com.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gupdated: when the github account was last updated.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hireable: whether the user is hireable or not.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;level: your Rate Yourself level.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;location: the users location.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: name of the user.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;picture: avatar picture from github.com.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sbronze_badge: number of bronze badges on stackoverflow.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;score: your Rate Yourself score.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sgold_badge: number of gold badges on stackoverflow.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sreputation: the stackoverflow reputation.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ssilver_badge: number of silver badges on stackoverflow.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stackoverflow_link: link to account on stackoverflow.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stars: the total number of star on public repositories from the github account.<br>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h2>Examples</h2>
          <p>Example request: http://127.0.0.1:5000/api/v1/profile?email=annika.h.magnusson@gmail.com&stackid=4632228</p>
          <p>Example JSON</p>
          <p>{<br>
              &nbsp;&nbsp;"profile": {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"email": "annika.h.magnusson@gmail.com", <br>
                &nbsp;&nbsp;&nbsp;&nbsp; "gbio": null, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gcreated": "2014-02-04T14:30:50Z", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gfollowers": 3, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gpublic_repos": 7, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gupdated": "2015-03-23T19:34:16Z", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"hireable": false, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"level": 1, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"location": "Malm\u00f6", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"name": "Annika Magnusson", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"picture": "https://avatars.githubusercontent.com/u/6585332?v=3", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"sbronze_badge": 1, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"score": 8, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"sgold_badge": 0, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"sreputation": 1, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"ssilver_badge": 0, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"stackoverflow_link": "http://stackoverflow.com/users/4632228/annika-magnusson", <br>
                &nbsp;&nbsp;&nbsp;&nbsp;"stars": 0<br>
              &nbsp;&nbsp;}<br>
            }</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h2>Changelog</h2>
          <p>2015-03-24: Version 1 of the Rate Yourself API</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>Annika & Sebastian</p>
      </footer>
    </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>