<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Rate Yourself</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="RateYourself.html">Rate Yourself</a>
          <a class="navbar-brand" href="levels_template.html">Our Levels</a>
          <a class="navbar-brand" href="api_template.html">Our API</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="http://127.0.0.1:5000/api/v1/profile" method="get">
            <div class="form-group">
              <input type="text" name='email' placeholder="Email" class="form-control" id='email'>
            </div>
            <div class="form-group">
              <input type="text" name='stackid' placeholder="Stackoverflow ID" class="form-control" id='stackid'>
            </div>
            <button type="submit" class="btn btn-success">Start Rating</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Our Levels!</h1>
        <p>Here are some information about our different levels you can reach!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Level 1 - Kid</h2>
          <img src="lvl1.png" alt="Image of a kid, level 1">
        </div>
        <div class="col-md-4">
          <h2>Level 2 - Tourist</h2>
          <img src="lvl2.png" alt="Image of a tourist, level 2">
       </div>
        <div class="col-md-4">
          <h2>Level 3 - Student</h2>
          <img src="lvl3.png" alt="Image of a student, level 3">
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Level 4 - Pirate</h2>
          <img src="lvl4.png" alt="Image of a pirate, level 4">
        </div>
        <div class="col-md-4">
          <h2>Level 5 - Assassin</h2>
          <img src="lvl5.png" alt="Image of a assassin level 5">
       </div>
        <div class="col-md-4">
          <h2>Level 6 - Ninja</h2>
          <img src="lvl6.png" alt="Image of a ninja, level 6">
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Level 7 - Knight</h2>
          <img src="lvl7.png" alt="Image of a spy, level 7">
        </div>
        <div class="col-md-4">
          <h2>Level 8 - Sumo</h2>
          <img src="lvl8.png" alt="Image of batman, level 8">
       </div>
        <div class="col-md-4">
          <h2>Level 9 - Mummy</h2>
          <img src="lvl9.png" alt="Image of a devil, level 9">
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Level 10 - Batman</h2>
          <img src="lvl10.png" alt="Image of Batman, level 10">
        </div>
        <div class="col-md-4">
          <h2>Level 11 - Devil</h2>
          <img src="lvl11.png" alt="Image of the devil, level 11">
        </div>
        <div class="col-md-4">
          <h2>Level 12 - Death</h2>
          <img src="lvl12.png" alt="Image of death, level 12">
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Annika & Sebastian</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>